.scheduleElement__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    border-radius: 6px;
    cursor: default;
    user-select: none;
    height: 100%;
    width: 100%;
}

.scheduleElement__content{
    cursor: grab;
    flex-grow: 1;
}

.scheduleElement__button{
    cursor: pointer;
    padding: 0 4px;
    user-select: none;
}

.event-lecture {
  background-color: #9af89d; 
  color: #fff;
}

.event-lab {
  background-color: #83c2f6; 
  color: #fff;
}

.event-practice {
  background-color: #eeb45d; 
  color: #fff;
}
