.sheduleGrid{
    display: grid;
    grid-template-columns: 120px repeat(6, 1fr);
    grid-template-rows: 40px repeat(6, 120px);
    border: 1px solid #ddd;
}

.null{
    border: 1px solid #ddd
}

.sheduleColumns, .sheduleRows{
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.sheduleElement{
    border: 1px solid #ddd;
    padding: 4;
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheduleEvent{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

